* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
    padding: 40px;
  }
}

.result-container {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffc533;
  display: flex;
  flex-direction: column;
  order: 1;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .result-container {
    order: 0;
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0;
  }
}

.result-heading {
  font-family: 'Roboto';
  font-size: 34px;
  background-color: #ffbf1f;
  padding: 30px;
  border-radius: 5px;
  margin-top: 0;
}

.result-list-container {
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
}

.result-name {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  color: #334155;
}

.no-user-image-container {
  display: flex;
  justify-content: center;
}

.no-user-image {
  width: 80%;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  width: 100%;
  padding: 20px;
  order: 0;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .character-container {
    order: 1;
    width: 50%;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.character-heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ffc533;
  text-align: center;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .form-container {
    flex-direction: row;
  }
}

.input {
  width: 350px;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 300px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 900px) {
  .input {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

.add-button {
  padding: 10px 30px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #475569;
  background-color: #ffbf1f;
  cursor: pointer;
}
